.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-body {
    display: flex;
    flex: 1;
  }
  
  app-dashboard-sidebar {
    width: 250px;
  }
  
  app-dashboard-content {
    flex: 1;
    padding: 20px;
  }
  